<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{web}}</p>
</div>

<article class="about">
    <h2>Sobre mi</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque cursus vitae massa quis iaculis. Nam consequat erat lobortis, semper purus ac, iaculis leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lorem sem, eleifend at facilisis vel, maximus vitae odio. Suspendisse dictum lacus sit amet sem molestie, in tincidunt metus vulputate. Aliquam laoreet ornare diam, nec mattis nulla finibus sit amet. Curabitur venenatis varius neque sit amet feugiat. Curabitur nunc mi, pretium semper accumsan vitae, blandit a lorem. Nunc aliquet, dolor ut faucibus vulputate, metus dui lobortis ligula, a pharetra mi sapien a diam. Donec nec viverra nibh. Vestibulum posuere mollis ante, a sagittis orci auctor id. Morbi in orci aliquam, lacinia mi et, varius orci. Nulla tempus felis nec lacus aliquam vestibulum. Sed at ultricies elit, lobortis porta elit. Nullam mollis dictum diam, in blandit lectus volutpat id. Integer rutrum orci a sagittis commodo. 
    </p>
</article>
